{% extends 'adminhome/dash.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}



<div class="row column4 graph" style="height : 500px; width : 1000px;">
    <div class="col-md-6 margin_bottom_30" >
        <div class="dash_blog" >
            <div class="dash_blog_inner">
                <div class="dash_head">
                    <H3>UPDATE STUDENT ENROLLMENT</H3>
                </div>
                <br><br>
                <div class="task_list_main">
                    <ul class="task_list">
                        <form method="post" enctype="multipart/form-data" style="color:black;margin-left:80px;">
                            {% csrf_token %}
                            {{form|crispy}}
                    </ul>
                </div>
                <div class="read_more">
                    <div class="center"><button class="main_bt read_bt" type = "submit">Submit</button></div>

                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

