{% extends 'adminhome/dash.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}


<div class="col-lg-6 grid-margin stretch-card">
    <div class="card" style="width:1200px;color:black;">
        <div class="card-body">
            <h4 class="card-title">STUDENTS</h4>
            <p class="card-description">
                <code></code>
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>

                          <th>SI.NO</th>
                          <th>Subject Name</th>
                          <th>Class</th>



                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{i.subject_name}}</td>
                            <td>{{i.class_assigned}}</td>



                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}